.topbar {
    position: relative;
    z-index: 2;
    background-color: white;
    box-shadow: 0px 20px 64px -1px rgba(6, 16, 88, 0.10);
    height: 2.5em;
}

.btn-topbar {
    width: 2em;
    height: 2em;
    padding: 0.2em;
    margin: 0.3em 1em;
    cursor: pointer;
}

.info {
    color: #061058;
    position: absolute;
    top: 0.3em;
    right: 1em;
}

.nombre {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    display: inline;
    margin-right: 1em;
}

.logout {
    cursor: pointer;
}