<app-top-bar></app-top-bar>
<router-outlet></router-outlet>
<nav class="nav">
    <a [routerLink]="['inicio']" class="nav__link" routerLinkActive="active">
        <span class="nav-icon">
            <fa-icon [icon]="iconInicio" routerLinkActive="nav-icon-active"></fa-icon>
          </span>
        <span class="nav__text">Inicio</span>
    </a>
    <a [routerLink]="['catalogos']" class="nav__link" routerLinkActive="active">
        <span class="nav-icon">
            <fa-icon [icon]="iconCatalogos" routerLinkActive="nav-icon-active"></fa-icon>
          </span>
        <span class="nav__text">Catálogos</span>
    </a>
    <a [routerLink]="['agregar']" class="nav__link" routerLinkActive="active">
        <span class="nav-icon">
            <fa-icon [icon]="iconAgregar" routerLinkActive="nav-icon-active"></fa-icon>
          </span>
        <span class="nav__text">Agregar</span>
    </a>
    <a [routerLink]="['resumen']" class="nav__link" routerLinkActive="active">
        <span class="nav-icon">
            <fa-icon [icon]="iconResumen" routerLinkActive="nav-icon-active"></fa-icon>
          </span>
        <span class="nav__text">Resumen</span>
    </a>
    <a [routerLink]="['perfil']" class="nav__link" routerLinkActive="active">
        <span class="nav-icon">
            <fa-icon [icon]="iconPerfil" routerLinkActive="nav-icon-active"></fa-icon>
          </span>
        <span class="nav__text">Perfil</span>
    </a>
</nav>