* {
    font-family: 'Poppins', sans-serif;
    color: #061058;
}

.background {
    padding-top: 55px;
    padding-bottom: 600px;
    background: rgb(202, 217, 243);
    background: linear-gradient(0deg, rgba(202, 217, 243, 1) 0%, rgba(234, 242, 255, 1) 100%);
}

 .borde {
     border: 1px solid red;
 }

 .boton-toggle {
    width: 9em;
    color: #061058;
    background-color: #ffffff;
    outline: none !important;
    cursor: pointer;
    box-shadow: 0px 20px 64px -1px rgba(6, 16, 88, 0.2);
}

.boton-toggle:active,
.boton-toggle:focus {
    background-color: #d0d0d0;
}

.boton-toggle:hover {
    background-color: #dddddd;
}

.izq {
    border-radius: 2em 0em 0em 2em;
}

.der {
    border-radius: 0em 2em 2em 0em;
}

.active {
    color: #061058;
    background-color: #d0d0d0;
}


input[type="radio"] {
    -webkit-appearance: none;
}
