<div class="row h-100 background" style="margin: auto;">
    <div style="z-index: 3;">
        <app-modal [showing]="showingModal" [message]="messageModal" [type]="tipoModal" (onDismiss)="dismissed()"></app-modal>
    </div>
    <div class="col-md-12 text-center">
        <div class="row m-4 justify-content-center">
            <div class="col-md-8 boton-container">
                <label class="btn boton-toggle izq" [ngClass]="pendienteCompletado? 'active' : ''">
                    <input type="radio" value="Pendiente" name="role" (click)="cambiarTipoPedido('Pendiente')">Pendientes
                </label>
                <label class="btn boton-toggle der" [ngClass]="pendienteCompletado? '' : 'active'">
                    <input type="radio" value="Completado" name="role" (click)="cambiarTipoPedido('Completado')">Completados
                </label>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3 text-center" style="z-index: 2;">
                <app-dropdown [sombra]="true" [titulo]="'Seleccionar cliente'" [datos]="datosClientes" [opciones]="clientes" (childClickedEvent)="onClienteSeleccionado($event)" [selected]="selectedClientIndex"></app-dropdown>
            </div>
            <div class="col-md-3 text-center">
                <app-dropdown [sombra]="true" [titulo]="'Seleccionar pedido'" [datos]="pedidosSeleccionables" [opciones]="opcionesPedidosSeleccionables" (childClickedEvent)="onPedidoSeleccionado($event)" [selected]="selectedIndex"></app-dropdown>
            </div>
            <div class="col-md-6" id="hey">
                <table class="table table-borderless tabla animate__animated animate__fadeInUp animate__faster" style="display: block;">
                    <tr class="header">
                        <th class="nombre">Nombre</th>
                        <th class="precio">Precio</th>
                        <th class="cantidad">Cantidad</th>
                        <th class="pedido">Pedido</th>
                    </tr>
                    <tr #celdasProductos *ngFor="let producto of productos; let i = index;" class="fila">
                        <td class="nombre" align="center">{{producto.nombreProducto}}</td>
                        <td class="precio" align="center">${{producto.precioProducto}}</td>
                        <td class="cantidad" align="center">{{producto.cantidadProducto}}</td>
                        <td class="pedido" align="center">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" [id]="'switch' + i" (change)="productoStatusChanged($event, i)" [disabled]="!pendienteCompletado">
                                <label class="custom-control-label cosa" [for]="'switch' + i"></label>
                            </div>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-md-8 text-center">
                <button *ngIf="pendienteCompletado" class="btn button-aceptar" (click)="completarPedido()">Marcar pedido como completado</button>
            </div>
        </div>
    </div>
</div>