<div class="row h-100 background" style="margin: auto;">
    <div class="col-md-12 my-auto mt-5">
        <div class="card card-perfil mx-auto my-auto borde">
            <div class="card-header fondo text-center border-0">
                <img [src]="fotoPerfil" class="foto-perfil animate__animated animate__zoomIn animate__faster" [alt]="fotoPerfilAlt">
            </div>
            <div class="card-body">
                <form [formGroup]="formaPerfil" (ngSubmit)="guardar()" autocomplete="on">
                    <div class="row m-1 animate__animated animate__fadeInDown animate__faster animate__delay-1s">
                        <div class="col-md-4 align-self-center">
                            Nombre
                        </div>
                        <div class="col-md-8">
                            <input #nameInput autocomplete="username" type="text" class="form-control" [ngClass]="editando ? 'cajaTexto' : 'cajaTextoPlano'" id="nameInput" aria-describedby="name" [value]="nombre" formControlName="nombre" [readOnly]="!editando">
                        </div>
                    </div>
                    <hr align="left" class="divider">
                    <div class="row m-1 animate__animated animate__fadeInDown animate__faster animate__delay-2s">
                        <div class="col-md-4 align-self-center">
                            Correo electrónico
                        </div>
                        <div class="col-md-8">
                            <input #emailInput type="email" class="form-control" [ngClass]="editando ? 'cajaTexto' : 'cajaTextoPlano'" id="email" aria-describedby="email" [value]="email" formControlName="email" [readOnly]="!editando">
                        </div>
                    </div>
                    <hr align="left" class="divider">
                    <div class="row m-1 animate__animated animate__fadeInDown animate__faster animate__delay-3s">
                        <div class="col-md-4 align-self-center">
                            Teléfono
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" autocomplete="tel-national" [ngClass]="editando ? 'cajaTexto' : 'cajaTextoPlano'" id="telefono" aria-describedby="telefono" [value]="telefono" formControlName="telefono" [readOnly]="!editando">
                        </div>
                    </div>
                    <hr align="left" class="divider">
                    <div *ngIf="editando" class="row m-1 animate__animated animate__fadeInDown animate__faster">
                        <div class="col-md-4 align-self-center">
                            Cambiar contraseña
                        </div>
                        <div class="col-md-8">
                            <input type="password" autocomplete="new-password" class="form-control cajaTexto" id="password" aria-describedby="password" value="">
                        </div>
                    </div>
                    <hr *ngIf="editando" align="left" class="divider">
                    <div *ngIf="editando" class="row m-1 animate__animated animate__fadeInDown animate__faster animate__delay-2s">
                        <div class="col-md-4 align-self-center">
                            Confirmar contraseña
                        </div>
                        <div class="col-md-8">
                            <input type="password" autocomplete="new-password" class="form-control cajaTexto" id="confirmPassword" aria-describedby="password" value="">
                        </div>
                    </div>
                    <br>
                    <div class="row m-1 animate__animated animate__fadeInDown animate__faster animate__delay-5s">
                        <div class="col-md-6"></div>
                        <div class="col-md-3">
                            <button [swal]="['Oops!', 'This is not implemented yet :/', 'warning']" #botonGuardar class="btn boton btn-block" (click)="guardar()"><i class="fas fa-check" style="color: white"></i> Guardar</button>
                        </div>
                        <div class="col-md-3">
                            <button #botonEditar type="button" class="btn boton btn-block" (click)="editar()"><i class="fas fa-pencil-alt" style="color: white"></i> Editar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br>
<br>