<div class="row h-100 background" style="margin: auto;">

    <app-modal [message]="mensaje" [showing]="showModal" [type]="tipoModal" (onDismiss)="dialogDismiss($event)"></app-modal>


    <div class="col-md-12 mt-5">
        <div class="card card-usuario">
            <div class="card-body">
                <form [formGroup]="formaUsuario" (ngSubmit)="submit()">
                    <div class="row m-1">
                        <div class="col-md-2 align-self-center">
                            Nombre:
                        </div>
                        <div class="col-md-4">
                            <input #cajaNombre type="text" name="nombre" class="form-control cajaTexto" formControlName="nombre">
                        </div>
                        <div class="col-md-2 align-self-center">
                            Correo electrónico:
                        </div>
                        <div class="col-md-4">
                            <input #cajaEmail type="email" name="email" class="form-control cajaTexto" autocomplete="email" formControlName="email">
                        </div>
                    </div>
                    <br>
                    <div class="row m-1">
                        <div class="col-md-2 align-self-center">
                            Contraseña:
                        </div>
                        <div class="col-md-4">
                            <input #cajaPassword type="password" name="password" class="form-control cajaTexto" autocomplete="new-password" formControlName="password">
                        </div>
                        <div class="col-md-2 align-self-center">
                            Confirmar contraseña:
                        </div>
                        <div class="col-md-4">
                            <input #cajaConfirmarPassword type="password" name="confirmar-password" class="form-control cajaTexto" autocomplete="new-password" formControlName="confirmPassword">
                        </div>
                    </div>
                    <br>
                    <div class="row m-1 text-center">
                        <div class="col-md-12">
                            <label class="btn boton-toggle izq" [ngClass]="role? 'active' : ''">
                                <input type="radio" value="User" name="role" formControlName="role" (change)="cambio(true)">User
                            </label>
                            <label class="btn boton-toggle der" [ngClass]="role? '' : 'active'">
                                <input type="radio" value="Admin" name="role" formControlName="role" (change)="cambio(false)">Admin
                            </label>

                        </div>
                    </div>
                    <div class="row m-1 text-center">
                        <div class="col-md-12">
                            <button class="btn boton-aceptar" type="submit">Aceptar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="card card-usuario">
            <div class="card-body">
                <table class="table tabla table-borderless" style="display: block;">
                    <tr class="header">
                        <th class="nombre">Nombre</th>
                        <th class="email">Correo electrónico</th>
                        <th class="rol">Rol</th>
                        <th class="acciones">Acciones</th>
                    </tr>

                    <tr *ngFor="let usuario of usuarios; let i = index" class="fila" [ngClass]="isLast(i) ? '': 'divider'">
                        <td class="nombre">{{usuario.nombre}}</td>
                        <td class="email">{{usuario.email}}</td>
                        <td class="rol">{{usuario.role}}</td>
                        <td class="acciones">
                            <fa-icon class="boton-tabla editar" [icon]="iconoEditar" (click)="editar(i)"></fa-icon>
                            <fa-icon class="boton-tabla borrar" [icon]="iconoBorrar"></fa-icon>
                        </td>
                    </tr>

                </table>
            </div>
        </div>

    </div>
</div>