<div class="row h-100 text-center background animtated fadeInDown fast" style="margin: auto;">
    <div class="col-md-12 text-center">
        <br>
        <h4 style="color: #061058">Seleccione una categoría</h4>
        <br>
        <div class="categorias-container justify-content-center align-items-center">
            <div *ngFor="let categoria of Categorias; let i = index" [ngClass]="categoria.clase" (click)="setSeleccion(categoria.nombre)">
                {{ categoria.nombre }}
            </div>
        </div>
        <br>
        <div class="card card-resumen">
            <div class="card-header fondo">
                <div class="btn-group btn-group-toggle abarca" data-toggle="buttons" role="group">
                    <label class="btn btn-light">
                              <input type="radio" name="options" id="option1"> Último mes
                            </label>
                    <label class="btn btn-light">
                              <input type="radio" name="options" id="option2"> De: - A: -
                            </label>
                </div>
            </div>
            <div class="card-body card-columns">
                <div class="hola">
                    <canvas id="cosa" class="">{{ chart }}</canvas>
                </div>
                <div class="hola">
                    <canvas id="cosa2" class="">{{ chart }}</canvas>
                </div>
            </div>
        </div>
    </div>



    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>