<app-top-bar></app-top-bar>
<br>
<br>
<br>
<br>
<div class="container">

    <div class="categorias-container">
        <div *ngFor="let categoria of Categorias; let i = index" [ngClass]="categoria.clase">
            <div class="card-body text-center">
                <br> {{ categoria.nombre }}<br><br>
            </div>
        </div>

    </div>
    <br>
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4 text-center">
            <div class="btn-group btn-group-toggle abarca" data-toggle="buttons" role="group">
                <label class="btn btn-light">
                  <input type="radio" name="options" id="option1"> Último mes
                </label>
                <label class="btn btn-light">
                  <input type="radio" name="options" id="option2"> De: - A: -
                </label>
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>



</div>