.background {
    background: rgb(240, 240, 246);
    background: linear-gradient(0deg, rgba(240, 240, 246, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.categorias-container {
    display: flex;
    overflow-x: auto;
    filter: drop-shadow(0px 40px 64px rgba(6, 16, 88, 0.3));
}

.chip {
    display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: #061058;
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: white;
    margin-bottom: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.chip:active {
    outline: none;
    background-color: #26a69a;
    color: #fff
}

.abarca {
    width: 100%;
}

@media (min-width: 720px) {
    .hola {
        width: 100%;
        height: auto;
    }
    .abarca {
        width: 50%;
    }
}