.modal {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.showing {
    display: flex;
}

.not-showing {
    display: none;
}

.modal-content {
    display: block;
    background-color: white;
    margin: auto auto auto auto;
    padding: 1.5em;
    border-radius: 32px;
    width: 22em;
    border-color: rgba(0, 0, 0, 0);
    text-align: center;
}

.close {
    color: gray;
    float: right;
    font-size: 1.2em;
    margin: -8px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
}

.image {
    margin: 0;
    font-size: 4em;
}

.error {
    color: red;
}

.success {
    color: darkgreen;
}

.button-login {
    font-weight: 600;
    width: 50%;
    background-color: #0000AF;
    border: none;
    border-radius: 32px;
    transition-duration: .2s;
    outline: none;
}

.button-login:hover {
    box-shadow: 0px 10px 64px 0px rgba(6, 16, 88, 0.3);
}